// *********************
// THEME COLORS
// *********************
$theme-colors: (
  "info": tomato,
  "danger": teal,
);

$themeDarkBackground: #2a2a2a;
$themeDarkText: #fff;

$themeLightBackground: #efefef;
$themeLightText: #151515;

$themeOrange: #fcb045;
$themeGreen: #32efa6;
$themeBlue: #3d93b9;
$themePurple: #813db4;
$themeRed: #e63e3e;
$themeVibrantYellowGreen: #f4fd5b;
$themeVibrantYellowGreenLight: #f6ff98;
$themeLightOrange: #ffe6a2;

$navLightHover: #e6e6e6;
$turquoiseLink: #00e6ff;

// *********************
// HTML & GENERAL STYLINGS
// *********************
body {
  background-color: $themeDarkBackground !important;
  color: $themeDarkText !important;
  line-height: 1.7em !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 4.1em !important;
}
h2 {
  font-size: 3.1em !important;
}
h3 {
  font-size: 2.2em !important;
}
h4 {
  font-size: 1.7em !important;
}
h5 {
  font-size: 1.2em !important;
}
h6 {
  font-size: 1.1em !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1rem;
  margin-top: 0.5rem !important;
  font-family: "Bungee", cursive;
  width: 100%;
  text-shadow: 2px 2px 4px black;
}
p {
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  margin-bottom: 0rem !important;
  font-size: 22px;
  line-height: 1.5em;
}
code {
  font-family: "Roboto Mono", monospace;
}
.mainContent {
  .row {
    a {
      color: $turquoiseLink;
    }
    a:hover,
    a:active,
    a:visited {
      color: $themeVibrantYellowGreen;
    }
  }
}

.link-light-bg {
  a {
    color: $themeBlue !important;
  }
  a:hover,
  a:active,
  a:visited {
    color: $themeRed !important;
  }
}
.highlighter {
  background-color: #d8e052;
  padding: 1px 5px 1px 5px;
  border-radius: 0.25em;
}

// make links inside a row bold
.row a {
  font-weight: 800 !important;
}
.container-fluid a {
  font-weight: 600 !important;
}

// add margin spacing to top and bottom row
.row {
  max-width: 2000px; // prevent width from going full on large displays
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 50px 25px !important;
}

// Reduce row padding for smaller mobile displays
@media (max-width: 450px) {
  .row {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

.light-text-shadow,
.light-text-shadow * {
  text-shadow: 2px 2px 4px white;
}
.row-slim-padding {
  padding: 13px 0px 0px 0px !important;
}
.icon-shadow-light-bg {
  filter: drop-shadow(2px 2px 2px #828900) !important;
}

@media (max-width: 536px) {
  h1 {
    font-size: 3em !important;
  }
  h2 {
    font-size: 2.4em !important;
  }
  h3 {
    font-size: 1.9em !important;
  }
  h4 {
    font-size: 1.7em !important;
  }
  h5 {
    font-size: 1.2em !important;
  }
  h6 {
    font-size: 1.1em !important;
  }
}

// *********************
// NAVIGATION AND NAVIGATION DROP DOWN MENUS
// *********************
.timknab-logo {
  height: 50px;
  filter: drop-shadow(2px 2px 2px black) !important;
}

// Use font awesome for mobile navigation rather than default stroke effect
.navbar-toggler-icon {
  background-image: none !important;
}
.navbar-toggler-icon::before {
  font-family: FontAwesome;
  font-size: 1.5em;
  color: #f4fd5b;
  content: "\f0c9"; /* fa-bars, fa-navicon */
}

.nav-link {
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
  font-family: "Bungee", cursive;
}

// customize font awesome icon for nav
// makes icon more centered and aligned with text
.primary-nav-icon {
  margin: 6px;
  bottom: 3px;
  position: relative;
}

// add hover to font awesome icon on link hover
// learn more: https://stackoverflow.com/questions/6966180/change-element-style-on-hover-another-element
.resume-cta div a:hover > svg {
  filter: drop-shadow(2px 2px 2px black) !important;
}

// Adjust line height for primary navigation items
.navbar-collapse {
  line-height: 2.1em;
}

// Change hamburger menu background color
.navbar-dark .navbar-toggler {
  background-color: #ac6fe2;
  border: unset !important;
  padding: 10px;
}
.navbar-toggler {
  box-shadow: 2px 2px 2px #8500ff61;
}
.navbar-toggler:active {
  border: unset !important;
}
// Center adjust "About" drop down menu heading for mobile
@media (max-width: 992px) {
  .navbar-collapse {
    margin-bottom: 20px;
  }
  .nav-dropdown-adjustment {
    margin-left: 31px;
  }
}

.dropdown-item {
  font-family: "Raleway", cursive;
  font-size: 1.5em;
  text-align: center !important;
  padding: 10px 0px !important;
}
.dropdown-menu.show {
  background-clip: padding-box;
  background-color: whitesmoke;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 20px 5px;
}
.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  background: $themePurple;
  background: linear-gradient(
    90deg,
    $themePurple 0%,
    $themeGreen 53%,
    $themeOrange 89%
  );
  color: #b6b6b6;
}
.navbar-dark .navbar-nav .nav-link {
  color: $themeLightBackground !important;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $turquoiseLink !important;
}
// Set hover and active styles for nav dropdown
.theme-twk-custom-nav-dropdown > .dropdown-menu > a:hover,
.dropdown-item.active,
.dropdown-item:active,
a.dropdown-item.active {
  background: #813db4cf !important;
  color: white !important;
  text-shadow: 2px 2px 4px black;
  border-radius: 0.25rem;
}

// Add line height to dropdown nav
navbar-nav .dropdown-menu {
  line-height: 1.5em;
}

// Center align resume button
.resume-cta {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.download-resume {
  background-color: $themeLightOrange !important;
  border-radius: 0.5rem;
  padding: 12px 25px !important;
  margin: 0px !important;
  font-size: 1.4em;
}
.download-resume:hover,
.download-resume:active {
  background-color: $themePurple !important;
  color: white !important;
  text-shadow: 2px 2px 4px black;
}

// Set card margins and ensure last paragraph has no padding
.card {
  margin: auto 15px;
  color: $themeDarkBackground;
  background-color: $themeVibrantYellowGreen !important;
  border: 1px solid $themeVibrantYellowGreen !important;
}
.card p:last-child {
  margin-bottom: 0px;
}

// *********************
// PROFESSIONAL SUMMARY
// *********************
.professional-summary {
  background-color: $themeVibrantYellowGreen;
  background-image: url("./assets/images/axiom-bg-pattern.png");
  color: $themeDarkBackground;
  border-top: 20px solid #d8e052;
  border-bottom: 20px solid #c2c76b;
  // border-bottom-right-radius: 20px;
  // border-bottom-left-radius: 20px;
  // z-index: 1000 !important;
}
.professional-summary-description {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.bio-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 10px 3px 14px 5px #989e21;
  max-height: 500px;
}
.socials {
  text-align: center;
  max-width: 800px;
}
.social-linkedin,
.social-linkedin:visited {
  color: #0e6aa8 !important;
}
.social-github,
.social-github:visited {
  color: #2a2a2a !important;
}
.social-stackoverflow,
.social-stackoverflow:visited {
  color: #f2770c !important;
}
.social-linkedin:hover,
.social-github:hover,
.social-stackoverflow:hover {
  color: #a847f6 !important;
}
@media (max-width: 991px) {
  .bio-photo {
    box-shadow: 1px 12px 14px 5px #989e21;
  }
  .professional-summary-description {
    h1 {
      margin-top: 20px !important;
    }
  }
}

// *********************
// ABOUT ME
// *********************

.about-me {
  background-color: #1d1d1d; // rgb(33, 33, 33)
  background-image: url("./assets/images/dark-dot-bg-pattern.png");
  padding-bottom: 65px !important;
  margin-bottom: -15px;
}

// *********************
// SKILLS
// *********************

.skills {
  border-top: 20px solid #fc4d45; // #fcb045
  border-bottom: 20px solid #c2c76b;
  background-color: #a99b87; // #958a7a;// #2b2b2b
  background-image: url("./assets/images/black-orchid-bg-pattern.png");
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.skills h4 {
  padding-bottom: 0;
}

.skills p {
  padding-top: 0;
  text-shadow: 2px 2px 4px black;
}

.stacks {
  background-color: $themeVibrantYellowGreenLight;
  border-bottom: 20px solid #c2c76b;
  background-image: url("./assets/images/axiom-bg-pattern.png");
}

.stack-image {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.stack-image-adjust {
  bottom: 22px;
}
.hack-image {
  margin-right: -50px;
}

@media (max-width: 991px) {
  .stack-image-adjust {
    bottom: 0px;
  }
  .hack-image {
    margin-bottom: -35px;
    margin-right: auto;
  }
}

// *********************
// PROJECTS
// *********************
.projects {
  background-color: #1d1d1d; // rgb(33, 33, 33)
  background-image: url("./assets/images/dark-dot-bg-pattern.png");
  padding-bottom: 65px !important;
  margin-bottom: -15px;
}
.projects h3 {
  padding-bottom: 0;
}

.projects p {
  padding-top: 0;
  text-shadow: 2px 2px 4px black;
}

.project-row {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.project-col {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .project-col {
    text-align: left;
  }
}

.project-icon {
  width: 150px;
  height: 150px;
}

// *********************
// EXPERIENCE
// *********************

.experience {
  border-top: 20px solid #fc4d45;
  background-color: #a279c1;
  background-image: url("./assets/images/black-orchid-bg-pattern.png");
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.experience h3 {
  padding-bottom: 0;
}

.experience p {
  padding-top: 0;
  text-shadow: 2px 2px 4px black;
}

// *********************
// EDUCATION HISTORY
// *********************
.education-history {
  background-color: $themeVibrantYellowGreen;
  color: $themeDarkBackground;
  background-image: url("./assets/images/axiom-bg-pattern.png");
  border-top: 20px solid #d2d740;
  border-bottom: 20px solid #d2d740;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 22px 33px -16px #000000bf;
}

.education-history h4 {
  padding-bottom: 0;
}

.education-history h5 {
  padding-bottom: 0;
  padding-top: 0;
  font-style: italic;
}

.education-history p {
  padding-top: 0;
}

// *********************
// AWARDS
// *********************
// .awards {
// }

// *********************
// FOOTER
// *********************
.footer {
  background-color: $themeBlue;
  border-top: 20px solid #1e7398;
}
.handcrafted-tag {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  margin-bottom: 0px;
}
.wa-state img {
  max-height: 45px;
  filter: drop-shadow(2px 2px 2px black) !important;
  margin-right: 10px;
}
.crafted-with-care {
  border-radius: 0.9rem;
  font-style: italic;
  font-size: 16px;
}
.love-icon {
  margin-left: 4px;
  font-style: normal !important;
}

.tagline {
  padding-bottom: 0px !important;
}

.copyright {
  padding: 0px 15px !important;
}

.copyright-text p {
  font-size: 13px;
}
.copyright-text a {
  color: white;
  font-weight: 400 !important;
}
.copyright-text a:visited {
  color: white;
}
.copyright-text a:hover {
  color: $themeVibrantYellowGreen;
  font-weight: bold !important;
  text-decoration: none;
}
@media (max-width: 991px) {
  .copyright-text {
    text-align: center;
  }
  .handcrafted-tag {
    position: relative;
    right: 10px;
  }
}

// *********************
// IMPORTS
// *********************
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:ital@0;1&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
